.container {
  min-height: 100vh;
  min-width: 200vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url("https://moesucks.files.wordpress.com/2018/04/persona-5-the-animation-0104.jpg");*/
  background-size: 110% 140%;
  background-position: 0% 0%;  
}


main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #000000;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #eaeaea;;
  font-family: serif;
}

.title,
.description {
  text-align: center;
  color: #eaeaea;
  font-family: serif;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #052cd6;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  max-height: 800px;
  margin-top: 3rem;
}

.cardfinal {
  margin: 10px;
  flex-basis: 45%;
  padding: 425px 300px;
  text-align: center;
  color: #0fbfd600;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 0px;
  fill: 0px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-image: url('public/hurricanecomic4.jpg');
  background-size:cover;
}

.cardprev {
  margin: 10px;
  flex-basis: 45%;
  padding: 425px 300px;
  text-align: center;
  color: #0fbfd600;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 0px;
  fill: 0px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-image: url('public/hurricanecomic3.jpg');
  background-size:cover;
}

.card2 {
  margin: 10px;
  flex-basis: 45%;
  padding: 425px 300px;
  text-align: center;
  color: #0fbfd600;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 0px;
  fill: 0px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-image: url('public/hurricanecomic2.jpg');
  background-size:cover;
}
.card1 {
  margin: 10px;
  flex-basis: 45%;
  padding: 425px 300px;
  text-align: center;
  color: #0fbfd600;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 0px;
  fill: 0px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-image: url('public/hurricanecomic1.jpg');
  background-size:cover;}

  .cardfinala {
    margin: 10px;
    flex-basis: 45%;
    padding: 200px 150px;
    text-align: center;
    color: #0fbfd600;
    text-decoration: none;
    border: 0px solid #eaeaea;
    border-radius: 0px;
    fill: 0px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    background-image: url('public/hurricanecomic4.jpg');
    background-size: 100% 100%;
  }
  
  .cardpreva {
    margin: 10px;
    flex-basis: 45%;
    padding: 200px 150px;
    text-align: center;
    color: #0fbfd600;
    text-decoration: none;
    border: 0px solid #eaeaea;
    border-radius: 0px;
    fill: 0px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    background-image: url('public/hurricanecomic3.jpg');
    background-size: 100% 100%;
  }
  
  .card2a {
    margin: 10px;
    flex-basis: 45%;
    padding: 200px 150px;
    text-align: center;
    color: #0fbfd600;
    text-decoration: none;
    border: 0px solid #eaeaea;
    border-radius: 0px;
    fill: 0px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    background-image: url('public/hurricanecomic2.jpg');
    background-size: 100% 100%;
  }
  .card1a {
    margin: 10px;
    flex-basis: 45%;
    padding: 200px 150px;
    text-align: center;
    color: #0fbfd600;
    text-decoration: none;
    border: 0px solid #eaeaea;
    border-radius: 0px;
    fill: 0px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    background-image: url('public/hurricanecomic1.jpg');
    background-size: 100% 100%;
}

.cardcom {
  margin: 10px;
  flex-basis: 45%;
  padding: 200px 150px;
  text-align: center;
  color: #0fbfd600;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 0px;
  fill: 0px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-image: url('public/comingsoon.jpg');
  background-size: 100% 100%;
}

.card1a:hover,
.card1a:focus,
.card1a:active {
  color: #ffffff00;
  border-color: #3387e7;
  text-decoration: underline;
  background-image: url('public/hurricanecomic1.jpg');
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    background-image: url('/public/practiceherop.jpg');  
    background-size: 100% 100%;
    background-repeat: no repeat;
    background-position: left;
}

* {
  box-sizing: border-box;
}